@charset "utf-8";

body {
    background-image: url(kepek/hatter.jpg);
    background-size: cover;
    background-color: grey;
    color: white;
    font-family: 'Luxurious Roman', cursive;
}
main, header, nav, article, footer{
    border: 2px;
}

nav ul{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(63, 63, 63);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
nav li{
    list-style-type: none;
    float: left;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
nav li a:hover{
    background-color: #666666
}

header{
    grid-area:h;
}
nav{
    grid-area:n;
}
article{
    grid-area:a;
    padding: 8px;
}
aside{
    grid-area:s;
}
footer{
    grid-area:f;
    text-align: center;
    background-color: rgb(17, 17, 17);

    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

main{
    display: grid;
    grid-template-areas: "h h h"
                        "n n n"
                        "a a a"
                        "f f f";
    max-width: 1200px;
    margin: auto;
    border: 2px solid white;
    border-radius: 20px;
}

h1{
    text-align: center;
}

p{
    padding-left: 25px;
}

.szin{
    color: white
}

table{
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}

td{
    width: 1fr;
    text-align: center;
    padding: 0px;
    border: 2px solid white;
    padding: 2px;
}

img{
    width: 100%;
}

.zoom {
    transition: transform .2s; /* Animation */
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  
.zoom:hover {
    transform: scale(2.5);
}



@media screen and (max-width:600px) {
    nav ul{
        grid-template-columns: 1fr; 
    }
    table tr {
        display: block;
    }
      
    table td {
        display: block;
    }
    .zoom:hover {
        transform: scale(1.2);
    }
}